$smallRadius = $borderRadius / 4

.timelineWrapper
  display flex
  width 100%
  margin 1px 0 0 1px
  shadow($size: 3px)

.timeline
  position relative
  display flex
  width 100%
  margin 35px 10px 10px
  shadowInset(2px)

  &__mark
    position absolute
    top -25px
    color $colorGray1

  &__frame
    position relative
    width 100%
    cursor pointer
    border-radius $smallRadius
    highlight($color: $colorGray1, $radius: $smallRadius)

    &:hover
      highlightFill($color: $colorGray1, $radius: $smallRadius)

    &--highlighted
      &, &:hover
        highlightFill($color: $colorYellow, $radius: $smallRadius)

    &--active
      &, &:hover
        highlight($radius: $smallRadius)

.timelinePlay
  margin 15px

  svg
    transform rotateZ(-90deg) translateY(2px)

.timelineWrapper
.timeline
  &, &::before
    border-radius 'calc(%s / 2)' % $borderRadius
